<div class="Container xs justify-content-center">

  <div class="row mx-auto">
    <div class="col xs  forme mt-4">

      <div class="row">

        <div class="col-md-7 py-5 left">

          <div class="row">
            <div class="form-floating col-9 mx-4 mb-4">
              <input type="text" class="form-control" id="floatingPassword" placeholder="le nom" [(ngModel)]="nom">
              <label for="floatingPassword">Nom du geste</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-9 mx-4 mb-4">
              <textarea type="text" class="form-control" id="floatingPassword" placeholder="la description" [(ngModel)]="description"></textarea>
              <label for="floatingPassword">Description</label>
            </div>
          </div>

          <div class="row ">
            <div class=" col-9 mx-4 mb-4">
              <input class="form-control form-control-sm" id="formFileSm" accept="image/png, image/jpeg" type="file" name="img1" formControlName="img1" (change)="filechange($event)">
            </div>
          </div>

          <div class="row ">
            <div class=" col-9 mx-4 mb-4">
              <input class="form-control form-control-sm" id="formFileSm" accept="image/png, image/jpeg" type="file" name="img2" formControlName="img2" (change)="filechange1($event)">
            </div>
          </div>




          <button class="mx-auto d-block text-center" (click)="onSubmit()">Ajouter</button>

        </div>
        <!-- partie droite -->
        <div class="col-md-5 right">

          <div class="">
            <h2 class="mt-4">Ajouter un geste de secours</h2>
          </div>


          <div class="auth text-center">
            <img src="/../assets/coeur.gif" alt="gif">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
