<div class="Container xs" style="width: 100%;">

  <div class="container-fluid mt-4 ct">

    <div class="forme mx-auto d-block">
      <!-- <div class="boite justify-content-center">
      </div> -->



      <div class="col">
        <div class="form">
          <p class="col">Ajouter une entité</p>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="nom" name="nom">
            <label for="floatingInput">Nom</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" [(ngModel)]="numero" name="numero">
            <label for="floatingInput">Numero</label>
          </div>

          <div class="row mb-2">
            <div class="col-md-3">
              <label for="floatingInput" style="font-weight: bold; font-size: 20px;">Image</label>
            </div>
            <div class="col-md-9 mb-3">
              <input class="form-control form-control-sm" id="formFileSm" accept="image/png, image/jpeg" type="file" name="img" formControlName="img" (change)="filechange($event)">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-3">
              <label for="floatingInput" style="font-weight: bold; font-size: 20px;">Audio</label>
            </div>
            <div class="col-md-9 mb-3">
              <input class="form-control form-control-sm" id="formFileSm"  type="file" name="audio" formControlName="audio" (change)="filechange1($event)">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col hj">
              <select class="form-select" aria-label="select example" [(ngModel)]="id" name="id">
                <option selected>--Choisir responsable--</option>
                <option *ngFor="let liste of uliste" value="{{liste.id}}">{{liste.username}}</option>
              </select>
            </div>
          </div>

          <div class="col text-center">
            <button (click)="ajoutEntite()">Ajouter</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>


