.xs{
  background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/../assets/imge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.ct{
  padding: 30px;
  height: 80vh;
  padding-top: 40px;
}
.forme
{
  height: 440px;
  width: 35%;
  position: absolute;
  left: 32%;
  background: rgba(219, 215, 215, 0.53);
  box-shadow: 5px 4px 11px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 5px;
}
.boite{
  position: relative;
  background-image: url("/../assets/police.gif");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  padding: 5px;
}
p{
  position: relative;
  top: -5%;
  font-weight: bold;
  font-size: 24px;
}
.form-control{
  height: 45px;
  padding-bottom: 20px;
}
button
{
  background: #0054E0;
  border-radius: 8px;
  border: none;
  padding: 8px;
  color: white;
  font-size: 20px;
  width: 150px;
}
button:hover{
  border: .1px solid white;
  transition: 3s;
}



.bt{
  background-image: url("/../assets/imge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
}
