<div class="Container xs justify-content-center">

  <div class="row">
    <div class="col-6 xs mx-auto d-block forme">

      <div class="row">

        <div class="col-md-7 py-5 left">

          <div class="row">
            <div class="col mb-3 text-center">
              <p>Authentification</p>
            </div>

            <form *ngIf="!isLoggedIn"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate>

                  <div class=" col-10 form-floating mx-auto mb-4">
                    <input type="text" class="form-control" id="floatingPassword"
                     placeholder="votre nom d'utilisateur"
                     name="username"
                     [(ngModel)]="form.username"
                     required
                     #username="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
                    <label for="floatingPassword">Username</label>
                    <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                      Le nom d'utilisateur est obligatoire !
                    </div>
                  </div>


                  <div class="form-floating col-10 mx-auto mb-4">
                    <input type="password" class="form-control" id="floatingPassword"
                       placeholder="votre mot de passe"
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       #password="ngModel"
                       [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
                    <label for="floatingPassword">Mot de passe</label>

                    <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                      <div *ngIf="password.errors['required']">
                        Le mot de passe est obligatoire !
                      </div>
                    </div>
                  </div>


                  <button class="mx-auto d-block text-center button">Connexion</button>

                  <div class="form-group">
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                      Login failed: {{ errorMessage }}
                    </div>
                  </div>

                </form>

          </div>






        </div>
        <!-- partie droite -->
        <div class="col-md-5 right">
          <!-- <div class="msg mt-5">
            Bienvenu sur la plateforme
          </div> -->
          <h2 class="">Bienvenu sur la plateforme</h2>

          <div class="auth text-center">
            <img src="/../assets/authen.gif" alt="gif">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
