<div class="container-fluid" style="overflow: hidden;">
  <div class="row flex-nowrap">
      <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show"
          style="height: 100vh;">

          <div class="col bg-warning py-5 mt-5 mb-2">

          </div>
          <div class="mt-5 mb-5">
              <ul class=" mt-4">

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/navbar/regions">Accueil</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/navbar/accueil">Gestes</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/navbar/accueil">Utilisateur</a>
                    </li>
              </ul>
          </div>
          <div class="mt-5">
              <li class="nav-item" >
                  <a class="nav-link me-2 ml-5" type="submit">Deconnexion</a>
              </li>
          </div>

          <!-- </div> -->
      </div>
      <main class="col container-fluid" style=" height: 100vh ; overflow: scroll; overflow-x: hidden; background-color: white;">

          <div class="Container xs" style="background-color: #E6EAF1; height: 100vh; width: 100%;">

            <nav class="navbar navbar py-1" style="background-color: white;">

              <a href="#" class="sidebar-toggler flex-shrink-0" data-bs-toggle="collapse"
                  data-bs-target="#sidebar" aria-expanded="false"
                  aria-controls="collapseWidthExample">
                  <i class="bi bi-list fa-3x mx-2"></i>
              </a>

              <form class="d-none d-md-flex ms-4" >
                  <input class="form-control border-0" type="search" placeholder="Search" style="background-color: #E6EAF1;">
                  <i class='bx bx-search icon ' style="font-size:35px"></i>
              </form>
          </nav>
            <router-outlet></router-outlet>
          </div>

      </main>
  </div>
</div>
