#sidebar{
  background-color: #648ED4;
  width: 17%;
}
.xs{
  padding: 15px;
}
.navbar{
  border-radius: 8px;
}

.xs{
  background-color: white;
 // border-radius: 8px;
}
.ct{
  padding: 10px;
  height: 75vh;
}
.li{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.active{
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  color: black;
  width: 100%;
}
