.xs{
  background-color: white;
  border-radius: 8px;
}
.ct{
  padding: 10px;
  height: 75vh;
}
.card{
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  padding: 2px;
}

.table{
  width: 95%;
}

.tables{
height: 50px;
border-top: transparent;
background-color: #4464ad;
color: white!important;
border-radius: 20px 20px 0 0;
}
.sh{
border: 1px solid black;
color: black!important;
border-radius: 5px;
}
button{
background: none;
border: 1px solid #4464ad!important;
color: black!important;
}
button:hover{
  background-color: #4464ad;
  border: 1px solid white;
}
